*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d1117;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;  /*horizontal*/
    align-items: center; /*vertical*/
    height: 175vh;  /*screen heigt*/

}

header{
    text-align: center;
    color: white;
   
}
.container{
   display: flex;
   flex-direction: column; /*fix blocks in ordning*/
   gap: 10px;  /*distance between blocks*/
   width: auto;
   
   
}
.block{
    background-color: white;
    box-shadow: 0 2px 5px rgb(0, 0, 0,0.1);   
    padding: 15px;
    gap: 5rem;   
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    width: auto;
    margin: 10px auto;
   
}
.block img{
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 5px;
    gap: 20px;
}


ul li{
    display: flex;
    align-items: center;
    

}
.text{
    max-width: 420px;
    text-align: justify;
    line-height: 1.4;
    margin-right: 50px;
}
.hobbies{
    gap: 10px;
    margin-right: 75px;
}

